# Dependencies & Build
node_modules
dist
.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git & Editor
.git
.gitignore
.DS_Store
.vscode
.idea

# Documentation & Config
README.md
Dockerfile*
docker-compose*
